
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@media (min-width: 1200px) {
  .container{
    max-width: 800px;
  }
}

////////////////////////// **** EDIT PAGE FILE INPUT **** ////////////////////////////////////
.input-group {
  margin-bottom: 20px;
}

.edit_avatar {
  float: left;
  margin: 0 10px 10px 0;
}
.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
}
////////////////////////// **** END OF THE FILE INPUT CSS **** ////////////////////////////////

//////////////////////////////// FACEBOOK-LIKE POSTS START /////////////////////////////////////////
.fb-testimonial-inner{background:#fff;padding:10px;border-radius:3px;}
.facebook-thumb{width:40px; display:inline-block; vertical-align:top;}
.facebook-name{display:inline-block; margin:0px; font-family:Helvetica, Arial, Sans-serif; font-weight:700; color:#3b5998;}
.facebook-date a{color:#9197a3; font-size:12px; font-weight:500; text-decoration:underline;}
.facebook-date {color:#9197a3; font-size:12px; font-weight:500;}
.fa.fa-caret-right{color:#9197a3;}
.fb-testimonial-copy{padding:15px 0px 0px 0px;}

.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}
.carousel-indicators {bottom: -25px;}
.carousel-indicators li {border-color: rgb(51, 51, 51);width:7px;height:7px;}
.carousel-indicators .active {background-color: rgb(51, 51, 51);width:9px;height:9px;}

//////////////////////////////// FACEBOOK-LIKE POSTS END /////////////////////////////////////////

.btn-txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-toggle {
  margin: 10px 0 30px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}

.post-form {
  display: none;
}

