
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@media (min-width: 1200px) {
  .container{
    max-width: 600px;
  }
}

////////////////////////// **** EDIT PAGE FILE INPUT **** ////////////////////////////////////
.input-group {
  margin-bottom: 20px;
}

.edit_avatar {
  float: left;
  margin: 0 10px 10px 0;
}
.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
}
////////////////////////// **** END OF THE FILE INPUT CSS **** ////////////////////////////////

//////////////////////////////// FACEBOOK-LIKE POSTS START /////////////////////////////////////////

.facebook-panel {
  hr {
    margin: 5px 0 -10px;
    border: none;
    height: 0.75px;
    color: #333; /* old IE */
    background-color: lighten(#a9a9a9, 20%); /* Modern Browsers */
  }
  .fb-testimonial-inner {
    background: #fff;
    padding: 10px;
    border-radius: 3px;
  }
  .facebook-thumb {
    width: 40px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
  }

  .facebook-image {
    max-width: 100%;
    max-height: 300px;
  }
  .facebook-name {
    display: inline-block;
    margin: 0px;
    font-family: Helvetica, Arial, Sans-serif;
    font-weight: 700;
    color: #3b5998;
  }
  .facebook-date a {
    color: #9197a3;
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
  }
  .facebook-date {
    color: #9197a3;
    font-size: 12px;
    font-weight: 500;
  }
  .fa.fa-caret-right {
    color: #9197a3;
  }
  .fb-testimonial-copy {
    padding: 15px 0px 0px 0px;
  }
}
//////////////////////////////// FACEBOOK-LIKE POSTS END /////////////////////////////////////////

.btn-txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-toggle {
  margin: 10px 0 30px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}

.post-form {
  display: none;
}

