
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@media (min-width: 1200px) {
  .container {
    max-width: 600px;
  }
}

// TODO: login background image
.login-app {
  background-image: url('/img/stars-small.jpg');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  height:100vh;
}

.login-navbar {
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.panel.login {
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

#app {
  padding-top: 7rem;
}


////////////////////////// **** EDIT PAGE FILE INPUT **** ////////////////////////////////////
.input-group {
  margin-bottom: 20px;
}

.edit_avatar {
  float: left;
  margin: 0 10px 10px 0;
}
.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
}
////////////////////////// **** END OF THE FILE INPUT CSS **** ////////////////////////////////

//////////////////////////////// FACEBOOK-LIKE POSTS START /////////////////////////////////////////

.facebook-panel {
  hr {
    margin: 5px 0 -10px;
    border: none;
    height: 0.75px;
    color: #333; /* old IE */
    background-color: lighten(#a9a9a9, 20%); /* Modern Browsers */
  }
  .fb-testimonial-inner {
    background: #fff;
    padding: 10px;
    border-radius: 3px;
  }
  .facebook-thumb {
    width: 40px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
  }

  .facebook-image {
    max-width: 100%;
    max-height: 300px;
  }
  .facebook-name {
    display: inline-block;
    margin: 0px;
    font-family: Helvetica, Arial, Sans-serif;
    font-weight: 700;
    color: #3b5998;
  }
  .facebook-date a {
    color: #9197a3;
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
  }
  .facebook-date {
    color: #9197a3;
    font-size: 12px;
    font-weight: 500;
  }
  .fa.fa-caret-right {
    color: #9197a3;
  }
  .fb-testimonial-copy {
    padding: 15px 0px 0px 0px;
  }

  .fb-content {
    color: darken(#5e5e5e, 30%);
  }
}

.edit-post-form {
  .facebook-image {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px!important;

  }
}
//////////////////////////////// FACEBOOK-LIKE POSTS END /////////////////////////////////////////

.btn-txt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-toggle {
  margin: 10px 0 30px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}

.post-form {
  display: none;
}

.pagination {
  display: none;
}
ul#posts {
  margin: 0;
  padding: 0;
  list-style: none;
}

#msg_container {
  z-index: 1000;
}

.user_links {
  a {
    font-size: 1rem;
    text-decoration: underline;

    //override bootstrap style
    &:active {
      background: white!important;
      border: none!important;
    }
  }

  .edit-link:hover {
    color: darken(#98F5FF, 10%);
  }

  .delete-link {
    margin-left: 5px;
    color: #FF4040;
    font-size: 1.1rem;
    text-decoration: underline;
    background: white!important;
    border: none!important;
    &:hover {
      color: lighten(#FF4040, 10%);
    }
  }
}

////////////////////////////////// FB COMMENT //////////////////////////////////////

.comment-avatar {
  width: 30px;
  //display: inline-block;
  //vertical-align: top;
  //margin-right: 5px;
}
.more-comments {
  margin-top: 40px;
}
.comment {
  margin: 10px 0;
  .comment-body {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    .comment-content {
      display: inline;
    }
  }
  .timestamp {
    font-size: 11px;
  }
  .comment_likes {
    margin-top: -5px;
  }
}

a.more_comments {
  text-decoration: underline;
  font-size: 1.2rem;
}

.add-comment {
  margin-top: 5px;
  input.comment-content {
    min-width: 500px;
    margin-left: 5px;
    border-radius: 0;
    height: 30px;
  }
}
button.like-link {
  font-size: 1.3rem;
}

li.search {
  margin-top: 10px;
  input {
    min-width: 300px;
    margin-left: 10px;
    border-radius: 0;
    height: 30px;
  }
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10000;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  //-webkit-border-radius: 5px;
  //-moz-border-radius: 5px;
  //border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-decoration: none;
}

.ui-state-hover, .ui-state-active {
  text-decoration: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
  background-color: darken(#fff, 7%);
}

//ul.ui-menu {
//  padding: 0;
//  margin: 0;
//  z-index: 999999999999999;
//  list-style: none;
//  li.ui-menu-item {
//    border-radius: 0;
//    background: white;
//    padding: 5px;
//    border: 1px solid #454545;
//  }
//}